.t-scroll {
    max-block-size: 14rem;
    inline-size: 20rem;
    padding: 0 0.75rem;
    border-radius: var(--tui-radius-l);
    box-shadow: 0 0 0 1px var(--tui-border-normal);
}

.t-picked {
    font: var(--tui-font-text-m);
    margin-block-start: 0;
}
