.t-trigger {
    font-size: 1.5rem;
    line-height: 2.5rem;
    min-inline-size: 3rem;
    border-radius: var(--tui-radius-m);
    border: 1px solid var(--tui-border-normal);
    background: var(--tui-background-base);
    cursor: pointer;
}

.t-picker {
    inline-size: 20rem;
}
